.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 70px;
    height: 100%;
    background-color: aliceblue;
    z-index: 2;
}

.nav_list{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav_list .nav_btn:first-child{

    margin-top: 20px;
}

.nav_list .nav_btn a{
    display: block;
    padding: 15px 0;
    color: black;
    text-align: center;
    text-decoration: none;
}


.nav_list .nav_btn a:not(.active){
    color: gray;
}

.nav_list .nav_btn a:not(.active):hover{
    color: darkblue;
}
